<h2>Modifier la Ville</h2>

{% form_theme form "bootstrap_4_horizontal_layout.html.twig" %}
<form method='POST' action="{{path("admin_edition_ville", {id: idVille})}}">
	{{ form_widget(form) }}
</form>